@model ShechterShoppingList.ViewModels.GroceryViewModel
@{
    ViewData["Title"] = "Home Page";
    var mdl = Model;
}

<div class="media">
    <img class="mr-3" src="~/pic/Groceries.jpg" width="100">
    <div class="media-body">
        <h1 class="align-items-center" style="align-content:center">Shopping List</h1>
    </div>
</div>

<br />

<div class="container-fluid">
    <form asp-action="Add" asp-controller="Home" method="post">
        <div class="form-group">
            <div class="d-inline-flex">
                <div style="margin-left:4px">@Html.DisplayNameFor(m => m._Grocery.GroceyName)</div>
                <input asp-for="_Grocery.GroceyName" id="gName" name="gName" class="form-control" style="text-align:center;margin-left:12px" />
                <span asp-validation-for="_Grocery.GroceyName" class="text-danger"></span>

                <div style="margin-left:12px">@Html.DisplayNameFor(m => m._Grocery.Ammount)</div>
                <input asp-for="_Grocery.Ammount" id="gAmmount" name="gAmmount" class="form-control" style="text-align:center; margin-left:12px" />
                <span asp-validation-for="_Grocery.Ammount" class="text-danger"></span>

                <div style="margin-left:12px">@Html.DisplayNameFor(m => m._Grocery.Measure)</div>
                @Html.DropDownListFor(
                    m => m._Grocery.Measure, // <-- the var for containing the selected item
                    new SelectList(Enum.GetValues(typeof(Grocery.UnitOfMeasure))), // <-- the enum list
                    null, // <-- default text
                    new { @id = "gMeasure", @name = "gMeasure", @class = "form-control", @style = "margin-left:4px" }
                  )
                <span asp-validation-for="_Grocery.Measure" class="text-danger"></span>
                
                <button class="btn btn-success" formmethod="post" style="margin-left:10px">
                    <i class="fas fa-plus"></i>
                    Add
                </button>
            </div>
        </div>
    </form>
</div>

<br />

<div>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(m => m._Grocery.Id)*@
                </th>
                <th>
                    @Html.DisplayNameFor(m => m._Grocery.GroceyName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m._Grocery.Ammount)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m._Grocery.Measure)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m._Grocery.DateModified)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Groceries)
            {
            <tr>
                <td>
                    @*@Html.DisplayFor(m => item.Id)*@
                    <div style="text-align:center">
                        <form method="post" asp-route-id="@item.Id" asp-controller="Home" asp-action="Edit">
                            <button class="btn btn-primary" id="@item.Id"><i class="far fa-edit"></i> Edit</button>
                            @Html.HiddenFor(h => item.Id)
                        </form>
                    </div>
                </td>
                <td>
                    <div style="text-align:center">
                        @Html.DisplayFor(m => item.GroceyName)
                     </div>
                </td>
                <td>
                    <div style="text-align:center">
                        @Html.DisplayFor(m => item.Ammount)
                    </div>
                </td>
                <td>
                    <div style="text-align:center">
                        @Html.DisplayFor(m => item.Measure)
                    </div>
                </td>
                <td>
                    <div style="text-align:center">
                        @Html.DisplayFor(m => item.DateModified)
                    </div>
                </td>

            </tr>
            }

        </tbody>
    </table>
</div>

@foreach (var item in Model.Groceries)
{
    Html.HiddenFor(h => item.Id);
    Html.HiddenFor(h => item.DateModified);


}

@Html.HiddenFor(h => Model._Grocery.Id)
@Html.HiddenFor(h => Model._Grocery.DateModified)